<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bookshelf - library for children</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description"
		content="kid's library, library, books, books for children, best books to read">
		<meta name="author"
			content="kid's library, library, books, books for children, best books to read">
			<meta name="viewport" content="width=device-width,initial-scale=1">
				<link rel="stylesheet" href="styles/inner.css">
					<link rel="stylesheet"
						href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
						integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
						crossorigin="anonymous">
						<script type="text/javascript"
							src="https://gc.kis.v2.scr.kaspersky-labs.com/F159CE61-EE3D-1D42-A2C2-0E2254ADCC64/main.js"
							charset="UTF-8"></script>
</head>
<body>
	<div class="main-wrapper">
		<div class="wrapper">
			<div class="header-wrap">
				<div class="logo">
					<a href="index.html"><img src="images/logo.png" /></a>
				</div>
				<div class="header-right-wrap">
					<div class="search-wrap">
						<div class="search">
							<input type="text" class="searchTerm"
								placeholder="search for your favorite book">
								<button type="submit" class="searchButton"></button>
						</div>
					</div>
					<div class="long-menu">
						<ul>
							<li><a href="how-it-works.html">how it works</a></li>
							<li><a href="pricing.html">pricing</a></li>
							<li><a href="#">login</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- newly added - header mobile -->
			<div class="header-wrap-mobile">
				<!-- hamburger -->
				<div class="menu-480">
					<i class="fas fa-bars"></i>
				</div>
				<div class="open-menu">
					<ul>
						<li><a class="home" href="#">home</a></li>
						<li><a class="dash" href="#">dashboard</a></li>
						<li><a class="detail" href="#">edit my account</a></li>
						<li><a class="cartmenu" href="#">my cart</a></li>
						<li><a class="history" href="#">my book history</a></li>
						<li><a class="plan" href="#">my plan</a></li>
						<li><a class="wish" href="#">wishlist</a></li>
						<li><a class="event" href="#">events</a></li>
						<li><a class="contacts" href="#">contacts</a></li>
						<li><a class="logout" href="#">logout</a></li>
					</ul>
				</div>
				<!-- logo for mobile -->
				<div class="mobile-logo">
					<img src="images/m-logo.png" />
				</div>
				<!-- search expandable -->
				<div class="search-expand">
					<div id="wrap">
						<form action="" autocomplete="on">
							<input id="search" name="search" type="text" /> <input
								id="search_submit" value="Rechercher" type="submit" />
						</form>
					</div>
				</div>
			</div>
			<!-- newly added - header-mobile ends -->
			<div class="select-wrap">
				<div class="styled-select">
					<select>
						<option>reading level</option>
						<option>early readers 3+</option>
						<option>young readers 5+</option>
						<option>fluent readers 7+</option>
					</select>
				</div>
				<div class="styled-select">
					<select>
						<option>categories</option>
						<option>fiction</option>
						<option>picture books</option>
						<option>epics & classics</option>
					</select>
				</div>
				<div class="styled-select">
					<select>
						<option>langauge</option>
						<option>english</option>
						<option>hindi</option>
						<option>tamil</option>
					</select>
				</div>
				<div class="styled-select">
					<select>
						<option>publishers</option>
						<option>amarchitra katha</option>
						<option>pratham</option>
						<option>tulika</option>
						<option>scholastic</option>
					</select>
				</div>
				<div class="selectButton"></div>
				<div class="selectButton-responsive">
					<img src="images/view-books.png" />
				</div>
			</div>
			<!-- select mobile -->
			<div class="select-mobile-wrap">
				<div class="select-wrap">
					<div class="styled-select">
						<select>
							<option>reading level</option>
							<option>early readers 3+</option>
							<option>young readers 5+</option>
							<option>fluent readers 7+</option>
						</select>
					</div>
					<div class="styled-select">
						<select>
							<option>categories</option>
							<option>fiction</option>
							<option>picture books</option>
							<option>epics & classics</option>
						</select>
					</div>
					<div class="styled-select">
						<select>
							<option>langauge</option>
							<option>english</option>
							<option>hindi</option>
							<option>tamil</option>
						</select>
					</div>
					<div class="styled-select">
						<select>
							<option>publishers</option>
							<option>amarchitra katha</option>
							<option>pratham</option>
							<option>tulika</option>
							<option>scholastic</option>
						</select>
					</div>
					<div class="selectButton"></div>
				</div>
			</div>
		</div>
		<!-- newly added - mobile tabs -->
		<div class="mobile-tabs">
			<div class="m-tab1">
				<a href="#">early readers</a>
			</div>
			<div class="m-tab">
				<a href="#">young readers</a>
			</div>
			<div class="m-tab">
				<a href="#">fluent readers</a>
			</div>
		</div>
		<!-- newly added - mobile tabs ends -->
		<div class="b-view-wrapper">
			<div class="book-view-wrap">
				<div class="book-view">
					<div class="book-view-image">
						<img src="images/b1.jpg" />
					</div>
					<div class="book-view-details">
						<div class="book-view-title-wrap">
							<div class="book-view-author">written by aparna jain</div>
							<div class="book-view-publisher">westland publishers</div>
							<div class="book-view-age">
								<span class="age">Fluent readers 9 +,&nbsp; </span>
								<!-- langauge added 120219 -->
								<span class="lang">Tamil</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="book-details-wrap">
				<div class="book-view-title">Like a Girl</div>
				<div class="book-view-rating">
					<!-- pages and binding added 120219 -->
					<span class="age">256 pages,&nbsp; </span> <span class="lang">Paperback</span>
					<i class="fas fa-star" style="color: #e34630;"></i> <i
						class="fas fa-star" style="color: #e34630;"></i> <i
						class="fas fa-star" style="color: #e34630;"></i>
				</div>
				<!-- long title added 120219 -->
				<div class="book-view-long-title">Real stories for tough kids</div>
				<div class="book-view-desc">
					<p>Do you ever get the feeling that girls have it less easy
						than boys? Have you been told to behave 'like a girl’? That you
						should learn to cook and be nice and keep your legs crossed?</p>
					<p>Well, here are the stories of fifty-six women who broke the
						rules to forge new paths for themselves and others.</p>
					<p>Adventurous and ambitious, they fought battles and legal
						cases. They won elections and matches. They climbed mountains and
						mastered science. Best of all, they never stopped chasing their
						dreams.</p>
					<p>Read about them. Talk about them. Get inspired.</p>
					<p>And go change the world!</p>
				</div>
				<div class="book-view-rent-wrap">
					<div class="book-view-rent">
						<a href="cart.html"><img src="images/rent-big.png" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="book-view-suggested">
			<div class="suggested-title">continue browsing</div>
			<div class="suggested-wrap">
				<div class="book-flex">
					<div class="left-arrow">
						<i class="fas fa-angle-double-left"></i>
					</div>
					<div class="book">
						<div class="book-image">
							<img src="images/b5.jpg" />
						</div>
						<div class="book-details">
							<div class="book-title-wrap">
								<div class="book-title">National Geographic Kids</div>
								<div class="book-age">
									<span class="age">Fluent readers 9 +,&nbsp; </span> <span
										class="lang">English</span>
								</div>
								<div class="book-author">written by Elizabeth Carney</div>
								<div class="book-rent-wrap">
									<div class="book-publisher">National Geographic</div>
									<div class="book-rent">
										<img src="images/rent.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="book">
						<div class="book-image">
							<img src="images/b2.jpg" />
						</div>
						<div class="book-details">
							<div class="book-title-wrap">
								<div class="book-title">Bad Guys #1</div>
								<div class="book-age">
									<span class="age">Fluent readers 9 +,&nbsp; </span> <span
										class="lang">Bi-lingual / Tamil</span>
								</div>
								<div class="book-author">written by Elizabeth Carney</div>
								<div class="book-rent-wrap">
									<div class="book-publisher">National Geographic</div>
									<div class="book-rent">
										<img src="images/rent.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="book">
						<div class="book-image">
							<img src="images/b4.jpg" />
						</div>
						<div class="book-details">
							<div class="book-title-wrap">
								<div class="book-title">Bookasura</div>
								<div class="book-age">
									<span class="age">Fluent readers 9 +,&nbsp; </span> <span
										class="lang">Tamil</span>
								</div>
								<div class="book-author">written by arundhati venkatesh</div>
								<div class="book-rent-wrap">
									<div class="book-publisher">scholastic</div>
									<div class="book-rent">
										<img src="images/rent.png" />
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="right-arrow">
						<i class="fas fa-angle-double-right"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="testimonial-wrap">
			<div class="testimonial">Bookshelf is a great option and much
				needed one for chennai !</div>
			<div class="testimonial-name">Member, Thoraipakkam</div>
		</div>
		<div class="footer-wrap">
			<div class="footer-text-wrap">
				<div class="footer-logo">
					<a href="index.html"><img src="images/logo.png" /></a>
				</div>
				<div class="footer-block1">
					<div class="footer-heading">Explore</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">how it works</a></li>
							<li><a href="pricing.html">pricing plans</a></li>
							<li><a href="signup.html">new user signup</a></li>
							<li><a href="login.html">login</a></li>
							<li><a href="contact.html">contact</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block2">
					<div class="footer-heading">Books</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">early readers</a></li>
							<li><a href="pricing.html">young readers</a></li>
							<li><a href="signup.html">fluent readers</a></li>
							<li><a href="login.html">educational</a></li>
							<li><a href="contact.html">comics</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block3">
					<div class="footer-heading">Good Reads</div>
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">top 100 books</a></li>
							<li><a href="pricing.html">cbse recommended</a></li>
							<li><a href="signup.html">top 50 classics</a></li>
							<li><a href="login.html">indian authors</a></li>
							<li><a href="contact.html">all time read list</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-block-last">
					<div class="footer-text">
						<ul>
							<li><a href="how-it-works.html">connect with us on
									facebook</a></li>
							<li><a href="how-it-works.html">info@bookshelf-library.com</a></li>
							<li>9884409372</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-mobile">
			<div class="m-foot-tab">
				<a class="searchfooter" href="#">search</a>
			</div>
			<div class="m-foot-tab">
				<a class="dash" href="#">dashboard</a>
			</div>
			<div class="m-foot-tab">
				<a class="logout" href="#">logout</a>
			</div>
			<div class="m-foot-tab">&nbsp;</div>
			<div class="m-foot-tab">&nbsp;</div>
		</div>
		<!-- newly added - footer-mobile ends-->
		<div class="m-foot-cart">
			<i class="fas fa-shopping-bag"></i>
		</div>
	</div>
</body>
</html>
