<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loginheadpart :: loginheadPart}"></head>
<body>
	<div class="select-wrap-sticky">
		<!-- <div th:replace="~{fragments/selectSearch :: selectSearch}"></div> -->
		<div class="login-reg">
			<div class="right-reg">
				<!-- <a th:href="@{/}"><img src="images/logo.png" /></a> -->
				<div class="l-right-title">Forgot Password</div>
				<div class="l-right-box-wrap">
					<div th:if="${successMessage}" class="sorry">
						<span th:utext="${successMessage}"></span>
					</div>
				</div>
				<div class="l-right-box-wrap">
					<form th:action="@{/forgotpassword}" method="post"
						class="form-signin">
						<div class="l-box2">
							<input id="email" name="email" autofocus="autofocus" type="text"
								placeholder="EMAIL" />
						</div>

						<div class="l-btn">

							<input type="submit" value="Submit" class="button" />

						</div>

					</form>
				</div>

			</div>

		</div>
	</div>
</body>
</html>
