<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bookshelf - library for children</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="training,consulting">
	<meta name="author" content="training, consulting">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="styles/inner.css">
    <link rel="stylesheet" href="styles/menu.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>

<body>
<div class="select-wrap-sticky">
<div class="sticky-padding">
<img th:src="@{/images/logo-s.png}" />
      <div class="styled-select">
        <select name="select">
          <option>reading level</option>
          <option>early readers 3+</option>
          <option>young readers 5+</option>
          <option>fluent readers 7+</option>
        </select>
      </div>
      <div class="styled-select">
        <select name="select">
          <option>categories</option>
          <option>fiction</option>
          <option>picture books</option>
          <option>epics & classics</option>
        </select>
      </div>
      <div class="styled-select">
        <select name="select">
          <option>langauge</option>
          <option>english</option>
          <option>hindi</option>
          <option>tamil</option>
        </select>
      </div>
      <div class="styled-select">
        <select name="select">
          <option>publishers</option>
          <option>amarchitra katha</option>
          <option>pratham</option>
          <option>tulika</option>
          <option>scholastic</option>
        </select>
      </div>
      <div class="selectButton"></div>
      <div class="selectButton-responsive"> <img th:src="@{/images/view-books.png}" /></div>
      <div class="menu-480"><i class="fas fa-bars"></i></div>
    <div class="open-menu">
     <ul>
        <li><a href="#">how it works</a></li>
        <li><a href="#">pricing</a></li>
        <li><a href="#">signup</a></li>
        <li><a href="#">login</a></li>
        </ul>
           </div>
	<div class="cart-full"><i class="fas fa-shipping-fast"></i></div>

    </div>
    </div>
    </div>
    <div class="b-wrapper">
  <div class="book-wrap">
<div class="book">
<div class="book-image"><img th:src="@{/images/b7.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">Dipa Karmakar</div>
<div class="book-age">Fluent readers 8 +</div>
<div class="book-author">written by srilatha menon</div>
<div class="book-rent-wrap">
<div class="book-publisher">westland publishers</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b8.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">Great stories</div>
<div class="book-age">Fluent readers 8 +</div>
<div class="book-author">written by ruskin bond</div>
<div class="book-rent-wrap">
<div class="book-publisher">scholastic international</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b3.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">Wimpy kid - Movie Dairy</div>
<div class="book-age">Fluent readers 8 +</div>
<div class="book-author">written by Jeff Kiney</div>
<div class="book-rent-wrap">
<div class="book-publisher">scholastic international</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b9.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">stories of birbal</div>
<div class="book-age">all ages</div>
<div class="book-author">written by pai</div>
<div class="book-rent-wrap">
<div class="book-publisher">amarchithra katha</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b5.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">National Geographic Kids</div>
<div class="book-age">Early readers 3 +</div>
<div class="book-author">written by Elizabeth Carney</div>
<div class="book-rent-wrap">
<div class="book-publisher">National Geographic</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b2.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">Bad Guys #1</div>
<div class="book-age">fluent readers 7+</div>
<div class="book-author">written by Elizabeth Carney</div>
<div class="book-rent-wrap">
<div class="book-publisher">National Geographic</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><a href="book-view.html"><img th:src="@{/images/b1.jpg}" /></a></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title"><a href="book-view.html">Like a Girl</a></div>
<div class="book-age">Early readers 3 +</div>
<div class="book-author">written by aparna jain</div>
<div class="book-rent-wrap">
<div class="book-publisher">puffin books</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b4.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">Bookasura</div>
<div class="book-age">Early readers 3 +</div>
<div class="book-author">written by arundhati venkatesh</div>
<div class="book-rent-wrap">
<div class="book-publisher">scholastic</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
<div class="book">
<div class="book-image"><img th:src="@{/images/b6.jpg}" /></div>
<div class="book-details">
<div class="book-title-wrap">
<div class="book-title">The Upside Down King</div>
<div class="book-age">Fluent readers 8 +</div>
<div class="book-author">written by sudha murthy</div>
<div class="book-rent-wrap">
<div class="book-publisher">puffin books</div>
<div class="book-rent"><img th:src="@{/images/rent.png}" /></div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
