<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/loginheadpart :: loginheadPart}"></head>
<body>
	<div class="select-wrap-sticky">
		<!-- <div th:replace="~{fragments/selectSearch :: selectSearch}"></div> -->
		<div class="login-reg">
			<div class="right-reg">
				<div class="l-right-title">Reset Password</div>
				<div class="l-right-box-wrap">
					<div class="error-msg-wrap" th:if="${successMessage}">
						<div class="msg-normal">


							<i class="fas fa-exclamation-triangle"></i><span
								th:utext="${successMessage}" />
						</div>
					</div>
					<form th:action="@{/reset}" method="post" class="form-signin">
						<div class="l-box2">
							<input type="password" id="newpassword" name="newpassword"
								th:placeholder="Password" /> <input type="hidden"
								name="resetToken" th:value=${resetToken} />
						</div>

						<div class="error-msg-wrap" th:if="${errorMessage}">
							<div class="arrow-box">


								<i class="fas fa-exclamation-triangle"></i><span
									th:utext="${errorMessage}" />
							</div>
						</div>

						<div class="l-btn">

							<input type="submit" value="Submit" class="button" />

						</div>

					</form>
				</div>

			</div>

		</div>
	</div>
</body>
</html>
