<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/headpart_terms :: headPart_terms}"></head>
<body>
	<div class="term-wrap">
		<div class="logo-right">
			<a th:href="@{/}"><img th:src="@{/images/logo-s.png}" /></a>
		</div>
		<div class="terms-header">Terms&nbsp;and&nbsp;Conditions</div>
		<div class="terms-points">
			<p>Please read these "Terms and Conditions" carefully as they
				constitute an ongoing contract between You and The Bookshelf. The
				Bookshelf is a subsidiary of Acclivers.</p>
			<p>
				Acclivers owns The Bookshelf and allows You to join this library and
				rent books online from its website<br /> <a href="www.bookshelf-library.com" >www.bookshelf-library.com</a>
			</p>
			<p>The Bookshelf reserves the right to, with or without notice,
				change these terms and conditions in its sole and absolute
				discretion. The most current version of these terms and conditions
				supersedes all previous versions.</p>
			<h1>A) Membership terms</h1>
			<ol>
				<li>Visitors to our website are allowed to subscribe for
					membership based on number of books per deliveries and duration of
					membership.</li>
				<li>One can become a member of the library by paying The
					Bookshelf a non-refundable subscription fee. The Bookshelf does not
					charge any one-time registration fee or security deposit for new
					members.</li>
				<li>The expiry date of the current subscription will be clearly
					mentioned on the My Plan page in The Bookshelf website. Membership
					could be renewed before or on the expiry date. Membership cease to
					exist if it's not renewed on/within the expiry date. However, if a
					member wishes to avail membership again, he/she could do so by
					paying the subscription fee plus an additional registration fee of
					Rs.500.</li>
				<li>In scenarios where the membership subscription fees is
					collected online through payment gateway services; all the terms
					and conditions of the relevant payment gateway provider will apply
					to the relavant transactions including refund requests.</li>
				<li>Members are not allowed to alter, modify, transfer or
					cancel their current plan during the validity period. However, the
					members have the option of modifying their plan during subsequent
					renewals.</li>
				<li>Members can borrow books only through online medium from
					The Bookshelf website as per the relevant subscription plan. The
					Bookshelf does not have a physical library from where a member can
					borrow books.</li>
				<li>Members are allowed to modify their address of delivery by
					visiting My Details page in The Bookshelf website, provided the new
					address falls within the available area of delivery of The
					Bookshelf.</li>
				<li>Members are solely responsible for maintaining the
					confidentiality of their account information and password.</li>
			</ol>
			<h1>B) Delivery terms</h1>
			<ol>
				<li>The Bookshelf provides a maximum of 3 deliveries in a month
					to all subscribed members. The Bookshelf does not charge for these
					deliveries.</li>
				<li>Members are allowed to choose their preferred delivery slot
					at the time of check out of books. Once scheduled, the delivery
					slots cannot be cancelled or modified.</li>
				<li>At the time of delivery, members are requested to return
					the book/books if any, already in their possession. In the event
					members are unable to honour the scheduled delivery slot or fail to
					return the books already in their possession, The Bookshelf
					reserves its right to treat the schedule as a free delivery and new
					books requested will not be delivered.</li>
				<li>The books will be delivered and picked up by our staff in a
					customised bag. The Member consents to keep the bag safely and also
					maintain it in good condition. In case of loss or damage to these
					bags, The Bookshelf will investigate the cause of the damage. If
					the damage is due to negligence / mishandling on members part, then
					members are liable to reimburse the cost of the bag or bags.</li>
				<li>During unforeseen events namely, theft, heavy rains,
					floods, tsunami or other acts of God, The Bookshelf will not be
					able to service you. In such cases, The Bookshelf is not liable to
					fulfil the normal terms of this contract.</li>
			</ol>
			<h1>C) Book terms</h1>
			<ol>
				<li>The Bookshelf takes very good care of its books and expects
					the member to take equal care of the books while it’s in their
					possession.</li>
				<li>Members are liable to ensure that there are no pencil/pen
					markings or scribbling and other damages done in/to the books. The
					Bookshelf reserves the right to claim a fine in cases where such
					markings or scribbling or damages are to be found.</li>
				<li>In the event of loss of a book, the members are liable to
					reimburse the cost of the book to The Bookshelf. Failure to
					reimburse the cost to The Bookshelf will lead to member’s
					membership being deactivated. In such an event, The Bookshelf is
					not liable to pay back any part of the subscription fee to the
					members.</li>
				<li>The Bookshelf doesn’t actively censor content in the books
					stocked with us and is not liable for any mental/physical hurt
					arising out of the content of the books.</li>
				<li>The Bookshelf sources information on books, book cover,
					author details etc directly from the publishers, distributors and
					in some cases from other third-party websites. The Bookshelf takes
					no guarantee on the accuracy of such content.</li>
			</ol>
			<h1>D) Communication</h1>
			<ol>
				<li>The Bookshelf is free to use any testimonials, information,
					ideas, concepts etc present in any communication that members send
					to The Bookshelf directly, through emails, on our social media
					pages and through our website. However,The Bookshelf will not share
					such information with any third party without your written consent.</li>
				<li>Member agrees to receive relevant promotional materials for
					events and other offers from The Bookshelf electronically and
					through our delivery team members.</li>
				<li>Members consent to receive electronic communications from
					the bookshelf. Members agree that any communication, notice,
					agreement, or disclosure that The Bookshelf sends electronically
					satisfies any legal communication requirements, including that such
					communications be in writing.</li>
			</ol>
		</div>
	</div>

</body>
</html>
